.App {
  text-align: center;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appereance:none;
  width: 10em;
  padding: 10px;
  background-color: rgb(53, 53, 53);
  border: none;
  outline: none;
  box-shadow: none;
  color:white;
  cursor: pointer;
  
}

button{
  padding: 10px;
  background-color: rgb(53, 53, 53);
  color: white;
 
}



#meme h3{
  position: absolute;
  margin-top: 28%;
  margin-left: 35%;
  font-size: 30px;
}
#meme h3:nth-child(1){
  position: absolute;
  margin-top: 4%;
  margin-left: 35%;
  font-size: 30px;
}

body {
  background-color: black;
  color: white;
}